* {
    margin: 0;
    padding: 0;
}

.main {
    background: #6F6AF7;
    width: 100%;
    display: flex;
    gap: 5rem;
    height: 90px;
    align-items: center;
    position: fixed;
    top: 0;

}

#search {
    width: 190px;
    height: 10px;
    padding: 10px;
    font-size: 13px;
    border-radius: 1.2rem;
    border: solid white;
}

.srch {

    position: relative;
    right: 2rem;
    height: 14px;
    top: 0.2rem;
}

.menu {
    height: 27px;
    margin-left: -2vw;
}

#head {
    font-size: 43px;
    font-weight: 700;
    color: white;
    font-family: "Delius Unicase", cursive;
    padding: 14px;
    margin-left: 1vw;
}

.main small {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: white;
}


.body1>img {
    height: 380px;
    width: 340px;
}

.body1 {
    margin-left: 4vw;
}

.body2 {

    background-color: #E5D8FF;
    color: #6F7373;
    height: 330px;
    width: 691px;
    letter-spacing: 0.5px;
    border-radius: 0.6rem;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    padding: 25px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.body3 {
    position: sticky;
    display: flex;
    flex-direction: column;
    float: right;
    top: 23vh;
    margin-top: 10vh;
    margin-right: 0.5em;

}


.container {
    display: flex;
    margin-top: 30vh;
    gap: 4vw;
}


.img1 {
    height: 51px;
    width: 55px;
}


.btmbox {
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    padding-right: 30px;
    margin-top: 12vh;

}

.box1 {
    background-color: #929DFF;
    color: white;
    height: 46px;
    width: 228px;
    margin: 20px;
    border-radius: 0.6rem;
    text-align: left;
    padding: 12px 12px 12px 12px;
}

.box2 {
    background-color: #734CF2;
    color: white;
    height: 46px;
    width: 228px;
    margin: 20px;
    border-radius: 0.6rem;
    padding: 12px 12px 12px 12px;
}

.box3 {
    color: white;
    background-color: #D288FF;
    height: 46px;
    width: 228px;
    margin: 20px;
    border-radius: 0.6rem;
    padding: 12px 12px 12px 12px;
}

.box4 {
    color: white;
    background-color: #000000;
    height: 46px;
    width: 228px;
    margin: 20px;
    border-radius: 0.6rem;
    padding: 12px 12px 12px 12px;
}

.footmain {
    display: flex;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    background-color: #483EFF;
    width: 70.5rem;
    height: 400px;
    margin-left: 4vw;
    margin-top: 19vh;
    text-align: center;
    border-radius: 0.6rem;
}


.footmain>div:nth-child(1) {
    display: flex;
    flex-direction: column;


}

.footbody1 {
    color: black;
    background-color: #BCE0F6;
    height: 70px;
    width: 220px;
    margin: 20px;
    border-radius: 0.6rem;
    border: 3px solid #BCE0F6;
    font-weight: bold;
    margin-top: 9vh;
}


.footbody2 {
  
    color: white;
    background-color: #483EFF;
    height: 70px;
    width: 220px;
    margin: 20px;
    border-radius: 0.6rem;
    border: 3px solid white;
    font-weight: bold;
}

.foot-main2 {
    background-color: white;
    color: #04285A;
    height: 52vh;
    width: 811px;
    letter-spacing: 0.5px;
    border-radius: 0.6rem;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    padding: 15px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 5.5vh;
}

.container2 {

    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 5vw;
    gap: 1vh;
}


.row {
    display: flex;

}

.label {
    font-weight: bold;
    width: 70px;
}

.value {
    margin-left: 10px;
}


.mainhead {


    font-size: 32px;
    margin-top: 5vh;
    margin-left: 3vw;
}

.next {
    position: relative;
    background-color: #000000;
    color: white;
    bottom: -4rem;
    left: 26rem;
    font-family: "Inter", sans-serif;
    padding: 0.4rem 2rem;
    letter-spacing: 0.5px;
    border-radius: 0.3rem;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.next >img {
    height: 2vh;
    width: 5vh;
}

.callimg {
    position: fixed;
    bottom: -2vh;
    right: 7vw;
    width: 8vw;
}

.callimg >img {
    width: 104px;
}